.feedbackControl {
  margin: 20px;
  text-align: center;
}
.borderButton {
  text-decoration: none;
  display: inline-block;
  color: rgba(0, 0, 0, 0.418);
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  cursor: pointer;
}
.borderButton:hover {
  background-position: right center;
}

.borderButton:focus {
  outline: solid 1px grey;
  background-position: right center;
}
.good {
  background-image: linear-gradient(
    to right,
    grey 0%,
    rgb(0, 248, 0) 51%,
    grey 100%
  );
}
.neutral {
  background-image: linear-gradient(
    to right,
    grey 0%,
    rgb(248, 248, 0) 51%,
    grey 100%
  );
}
.bad {
  background-image: linear-gradient(
    to right,
    grey 0%,
    rgb(248, 0, 0) 51%,
    grey 100%
  );
}
